body {
  padding-top: 0px;

}

.navbar-carousel{
position:fixed;
height:100%;
padding:0;
margin:0;
}

.slider-top-container{
  padding-left:0;
  padding-right:0;
}

.slider-top{

  background-color: rgb(22, 22, 22);
  color: #fff;
  z-index: -1;
  position: relative;
  margin-bottom: 10px;

}

.navbar-carousel div {
height:100%;
}
.navbar-carousel .card{
width:100%;
padding:10px 7px 0px 7px;
}

.img-circle{
width: 150px;
height: 150px!important;
margin-top: 20px;
}

.card {
height: 100%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(22, 22, 22);
overflow-x: hidden;
padding-top: 20px;
}

.card h3 {

text-shadow: #000;
color: #ffffff;
background-color: rgba(0, 0, 0, 0.885);
display: block;
font-size: 2em;
}


.card h3:hover {
color: #4d7ee8;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
text-align: center;
}


.area-trab {
color: rgb(204, 204, 204);
text-shadow: #000;
font-size: 1.2em;
}

.mid-cont{ /* modifica a col central */

  margin-top: 40px;
  margin-bottom: 30px;
}

.mid-cont img{ /* modifica a logo central */

  height: 150px;
  width: 150px;
}

/* PROGRESS BAR*/

.w-75 {
width: 60%!important;
}

.progress-bar-animated {
-webkit-animation: progress-bar-stripes 1s linear infinite;
-o-animation: progress-bar-stripes 1s linear infinite;
animation: progress-bar-stripes 1s linear infinite;
}

.progress-bar-striped {
background-image: -webkit-linear-gradient(
45deg
,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
background-image: linear-gradient(
45deg
,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
-webkit-background-size: 1rem 1rem;
background-size: 1rem 1rem;
}

.progress-bar {
height: 2rem;
color: #fff;
background-color: #000;
width: 100%;
}


.progress {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
font-size: .75rem;
line-height: 1rem;
text-align: center;
background-color: #eceeef;
border-radius: .25rem;
margin-left: 4.5rem;
margin-right: 4.5rem;
}

#video-background { /* modifica o estilo do video */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}

/* ANIMA��O PROGRESS BAR */
@-webkit-keyframes progress-bar-stripes {
from {
background-position: 1rem 0;
}
to {
background-position: 0 0;
}
}

@-o-keyframes progress-bar-stripes {
from {
background-position: 1rem 0;
}
to {
background-position: 0 0;
}
}

@keyframes progress-bar-stripes {
from {
background-position: 1rem 0;
}
to {
background-position: 0 0;
}
}